<div class="container standart">
	<h2>Enregistrez-vous</h2>
	<div class="error"></div>

	<%= form_for :session, url: sessions_path, remote: true do |f| %>
		<div class="infos">
			<p><%= f.label :email %></p>
			<p><%= f.label :password %></p>
			<p><%= f.label :remember_me %></p>
		</div>
		<div class="log">
			<p><%= f.text_field :email %></p>
			<p><%= f.password_field :password %></p>
			<p><%= f.check_box :remember_me, class: 'checkbox' %></p>
			<p class="btn-log"><%= f.submit "Connexion", class: 'btn' %><a href="#"> Mot de passe oublié?</a></p><br>
			<p>Besoin d'un compte? <span class="inscription">S'enregistrer gratuitement</span></p><br>
			<p class="pub"><img src="http://cdn.wpbeginner.com/wp-content/uploads/2012/08/gravatarlogo.jpg"> Profitez d'utiliser le service <b>gravatar</b> avec votre nouveau compte.</p>
		</div>
	<% end %>
</div>

<div class="container space"></div>

<div class="container external">
	<h2>... ou utilisez un autre compte</h2>
	<div>
		<p><a class="btn" href="/auth/gplus"><img src="/assets/login/fc-webicon-google-m.png"> Google</a></p>
		<p><a class="btn" href="/auth/facebook"><img src="/assets/login/fc-webicon-facebook-m.png"> Facebook</a></p>
		<p><a class="btn login_twitter" href="#log"><img src="/assets/login/fc-webicon-twitter-m.png"> Twitter</a></p>
		<p><a class="btn" href="/auth/github"><img src="/assets/login/fc-webicon-github-m.png"> GitHub</a></p>
	</div>
	<p class="note"> <b>Note:</b> L'administration des groupes de jeunes nécessite la création d'un nouveau compte. 
		<span class="infos">
			<%= link_to "En savoir plus", "/login-plus", remote: true %>
		</span></p>
</div>

<div class="container_inscription">
	<p class="title">Inscription sur Neurones.ch</p>
	<%= render 'users/form', event: @user %>
</div>
<div class="overlay">
</div>