<div class="container standart">
	<h2>Log in</h2>

	<%= form_for :session, url: sessions_path do |f| %>
		<div class="infos">
			<p><%= f.label :name %></p>
			<p><%= f.label :password %></p>
			<p><%= f.label :remember_me %></p>
		</div>
		<div class="log">
			<p><%= f.text_field :name %></p>
			<p><%= f.password_field :password %></p>
			<p><%= f.check_box :remember_me %></p>
			<p class="btn-log"><%= f.submit "Connexion", class: 'button' %><a href="#"> Mot de passe oublié?</a></p><br>
			<p>Besoin d\'un compte? <a href="#">S\'enregistrer gratuitement</a></p><br>
			<p class="pub"><img src="http://cdn.wpbeginner.com/wp-content/uploads/2012/08/gravatarlogo.jpg"> Profitez d\'utiliser le service <b>gravatar</b> avec votre nouveau compte.</p>
		</div>
	<% end %>
</div>

<div class="container space"></div>

<div class="container external">
	<h2>... ou utilisez un autre compte</h2>
	<div>
		<p><a class="btn" href="#"><img src="http://cdn1.iconfinder.com/data/icons/PRACTIKA/256/twitter.png"> Twitter</a></p>
		<p><a class="btn" href="#"><img src="http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_facebook_box_blue.png"> Facebook</a></p>
		<p><a class="btn" href="#"><img src="http://icons.iconarchive.com/icons/danleech/simple/512/google-icon.png"> Google</a></p>
		<p><a class="btn" href="#"><img src="http://openid.net/logo-graphics/openid-icon-1000x1000.png"> Open ID</a></p>
		<p><a class="btn" href="#"><img src="http://shijitht.files.wordpress.com/2010/08/github.png"> GitHub</a></p>
	</div>
	<p class="note"> <b>Note:</b> L\'administration des groupes de jeunes nécessite la création d\'un nouveau compte. 
		<span class="infos">
			<%= link_to "En savoir plus", "/login-plus", remote: true %>
		</span></p>
</div>