<% provide(:title, 'Connexion') %>

<h1 style="margin:60px 0 -30px 0">Connexion</h1>

<div class="login">

<%= form_for :session, html: {id: 'login_form'}, url: sessions_path do |f| %>
	<table>
		<tr>
			<td><%= f.label :email %></td>
			<td><%= f.email_field :email %></td>
		</tr>

		<tr>
			<td><%= f.label :password, (t "activerecord.attributes.user.old_password") %></td>
			<td><%= f.password_field :password %></td>
		</tr>

		<tr>
			<td><%= f.label :remember_me, (t "activerecord.attributes.user.remember_me") %></td>
			<td><%= f.check_box :remember_me %></td>
		</tr>
		
	</table>

	<div class="commit">
		<%= f.submit "Connexion", class: 'w8-button l-blue' %>
	</div>

<% end %>

</div>