<%= form_for [:admin, @event] do |f| %>	

	<%= render 'shared/error_messages', object: f.object %>

	<table>
		<tr>
			<td><%= f.label :title %></td>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<td><%= f.label :content %></td>
			<td><%= f.text_area :content %></td>
		</tr>
		<tr>
			<td><%= f.label :date %></td>
			<td><%= f.datetime_select :date %></td>
		</tr>
		<tr>
			<% if @event.image != nil %>
				<td><%= f.label :image_id %>
				<td><%= image_tag @event.image.image_url %></td>
				<td><%= f.radio_button :image_id, @event.image.id %></td>
			</tr>
			<tr>
				<td><%= f.label :image_id, "Supprimer l'image" %></td>
				<td><%= f.radio_button :image_id, "" %></td>
			<% end %>
		</tr>

		<tr>
			<td>Images</td>
			<td>
				<% Image.all.each do |image| %>
					<% unless image.id == @event.image_id %>
						<%= image_tag image.image_url %>
						<%= f.radio_button :image_id, image.id %>
					<% end %>
				<% end %>
			</td>
		</tr>
		<tr><td><%= f.submit class: 'w8-button l-blue' %></td></tr>
	</table>

<% end %>