<%= form_for [:admin, @event] do |f| %>	

	<%= render 'shared/error_messages', object: f.object %>

	<table>
		<tr>
			<td><%= f.label :theme %></td>
			<td><%= f.text_field :theme %></td>
		</tr>
		<tr>
			<td><%= f.label :lieu %></td>
			<td><%= f.text_field :lieu %></td>
		</tr>
		<tr>
			<td><%= f.label :date %></td>
			<td><%= f.date_select :date %></td>
		</tr>
		<tr>
			<td><%= f.label :info %></td>
			<td><%= f.text_field :info %></td>
		</tr>
		<tr>
			<td><%= f.label :remarque %></td>
			<td><%= f.text_field :remarque %></td>
		</tr>
		<tr><td><%= f.submit "Mettre à jour", class: 'w8-button l-blue' %></td></tr>
	</table>

<% end %>