<% # non-used %>
<tr>
	<% if @event.image != nil %>
		<td><%= f.label :image_id %>
		<td><%= image_tag @event.image.image_url %></td>
		<td><%= f.radio_button :image_id, @event.image.id %></td>
	</tr>
	<tr>
		<td><%= f.label :image_id, "Supprimer l'image" %></td>
		<td><%= f.radio_button :image_id, "" %></td>
	<% end %>
</tr>

<tr>
	<td>Images</td>
	<td>
		<% Image.all.each do |image| %>
			<% unless image.id == @event.image_id %>
				<%= image_tag image.image_url %>
				<%= f.radio_button :image_id, image.id %>
			<% end %>
		<% end %>
	</td>
</tr>