<h3>Eléments administrables.</h3>
<%= render partial: "shared/index", locals: { arrayi: @elements, name: 'event' } %>

<h3>Groupes</h3>
<h4>Utilisateurs ayant pour type 'group'</h4>
<%= render partial: "shared/index", locals: { arrayi: @groups, name: 'event' } %>

<h3>Types d'utilisateur</h3>
<%= render partial: "shared/index", locals: { arrayi: @user_types, name: 'event' } %>

<h3>Table ownership</h3>
<h4 style="color: red">Manipuler cette table avec précaution!</h4>

<%= render 'shared/table_buttons' %>

<table class="tables display" data-source="<%= admin_ownerships_url(format: "json") %>">
  <%= render 'shared/datatable', table: Ownership %>
</table>