<h1>Droits</h1>

<div>
  <%= @ownership_table.present %>
</div>

<h1>Utilisateurs</h1>

<div>
  <%= @user_table.present(buttons: "buttons") %>
</div>

<h1>Héritages</h1>

<div>
  <%= @parent_table.present %>
</div>

<h3>Groupes</h3>

<div>
  <%= @group_table.present %>
</div>

<h3>Types d'utilisateur</h3>

<div>
  <%= @user_type_table.present %>
</div>

<h3>Eléments administrables</h3>

<div>
  <%= @element_table.present %>
</div>
