<h1>Droits</h1>

<%= render 'shared/table_buttons' %>

<table class="tables display" data-source="<%= ownerships_admin_ownerships_url(format: "json") %>">
  <%= render 'shared/datatable', table: Ownership %>
</table>

<h1>Utilisateurs</h1>

<div class='table_buttons'>
	<% if @create_ownerships.any? %>
		<a class="new_ownership on" href="#">Ajouter des droits</a>
		<a class="new_ownership off">Ajouter des droits</a>
	<% end %>
	<% if @create_parent_ownerships.any? %>
		<a class="new_relation on" href="#">Ajouter un héritage</a>
		<a class="new_relation off">Ajouter un héritage</a>
	<% end %>
</div>

<table class="user_table display" data-source="<%= admin_users_url(format: "json") %>">
  <%= render 'shared/datatable', table: User %>
</table>

<h1>Héritages</h1>

<table class="parent_table display" data-source="<%= parents_admin_ownerships_url(format: "json") %>">
  <%= render 'shared/datatable', table: Parent %>
</table>

<h3>Groupes</h3>
<table class="client_tables display">
	<thead>
		<tr>
			<th>Nom</th>
		</tr>
	</thead>
	<tbody>
		<% @groups.each do |element| %>
			<tr>
				<td><%= element.name %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>Types d'utilisateur</h3>
<table class="client_tables display">
	<thead>
		<tr>
			<th>Nom</th>
		</tr>
	</thead>
	<tbody>
		<% @user_types.each do |element| %>
			<tr>
				<td><%= element.name %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>Eléments administrables</h3>
<table class="client_tables display">
	<thead>
		<tr>
			<th>Nom</th>
		</tr>
	</thead>
	<tbody>
		<% @elements.each do |element| %>
			<tr>
				<td><%= element.name %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>Type d'accès</h3>
<table class="client_tables display">
	<thead>
		<tr>
			<th>Nom</th>
		</tr>
	</thead>
	<tbody>
		<% @access_types.each do |element| %>
			<tr>
				<td><%= element %></td>
			</tr>
		<% end %>
	</tbody>
</table>