<h1>Droits</h1>

<%= render 'shared/table_buttons' %>

<div id="table" class="ownerships">
  <%= @ownerships_table.build(ownerships_admin_ownerships_path) %>
</div>

<h1>Utilisateurs</h1>

<div class='table_buttons'>
	<% if @create_ownerships.any? %>
		<a class="new_ownership on" href="#">Ajouter des droits</a>
		<a class="new_ownership off">Ajouter des droits</a>
	<% end %>
	<% if @create_parent_ownerships.any? %>
		<a class="new_relation on" href="#">Ajouter un héritage</a>
		<a class="new_relation off">Ajouter un héritage</a>
	<% end %>
</div>

<div id="user_table" class="users">
  <%= @users_table.build(users_admin_ownerships_path) %>
</div>

<h1>Héritages</h1>

<div id="table" class="parents">
  <%= @parents_table.build(parents_admin_ownerships_path) %>
</div>

<h3>Groupes</h3>

<div id="table">
  <%= @groups_table.build %>
</div>

<h3>Types d'utilisateur</h3>

<div id="table">
  <%= @user_types_table.build %>
</div>

<h3>Eléments administrables</h3>

<div id="table">
  <%= @elements_table.build %>
</div>

<h3>Type d'accès</h3>

<div id="table">
  <%= @access_types_table.build %>
</div>