<h1>Droits</h1>

<div>
  <%= @ownership_table.present %>
</div>

<h1>Utilisateurs</h1>

<!-- TODO -->
<div class='table_buttons'>
	<% if @create_ownerships.any? %>
		<a class="new_ownership on" href="#">Ajouter des droits</a>
		<a class="new_ownership off">Ajouter des droits</a>
	<% end %>
	<% if @create_parent_ownerships.any? %>
		<a class="new_relation on" href="#">Ajouter un héritage</a>
		<a class="new_relation off">Ajouter un héritage</a>
	<% end %>
</div>
<!-- END TODO -->

<div>
  <%= @user_table.present %>
</div>

<h1>Héritages</h1>

<div>
  <%= @parent_table.present %>
</div>

<h3>Groupes</h3>

<div>
  <%= @group_table.present %>
</div>

<h3>Types d'utilisateur</h3>

<div>
  <%= @user_type_table.present %>
</div>

<h3>Eléments administrables</h3>

<div>
  <%= @element_table.present %>
</div>
