<% if comment.comment_id.nil? || subcomment == true %>
	<div id="<%= comment.id %>" class="<%= subcomment == true ? 'subcomment' : 'comment' %>">

		<div class="left">
			<h3>
				<%= link_to ">>", edit_article_comment_path(comment.article_id, comment), remote: true %>
				<%= comment.title %><br/><br/>
				<div class="comment_vote popup_container">
					<%= link_to '<i class="foundicon-thumb-up"></i>'.html_safe, up_article_comment_path(comment.article_id, comment), remote: true %>
					<%= link_to '<i class="foundicon-thumb-down"></i>'.html_safe, down_article_comment_path(comment.article_id, comment), remote: true %>
					<span class="number"><%= (vote = comment.thumbup - comment.thumbdown) >= 0 ? "+ #{vote}" : " #{vote}" %></span> 
					<div class="popup">
						<p> Vous avez déjà voté </p>
						<div class="arrow-left"></div>
					</div>
				</div>
			</h3>
			<p class="infos">
				<i class="foundicon-chat"></i> Par <b><%= link_to comment.user.name, comment.user %></b><br/>
				<%= l comment.created_at, format: :text %>,<br/>
				<%= comment.created_at==comment.updated_at ? "mis à jour#{l comment.updated_at, format: :text}" : nil %><br/>
				<%= link_to '<i class="foundicon-rss"></i> Suivre'.html_safe, subcomments_feed_article_comment_path(comment.article, comment, format: 'atom'), target: '_blank' if subcomment == false %>
			</p>
			<p class="img">
				<%= gravatar(comment.user) %>
			</p>
		</div>
		<div class="right">
			<p>
				<%= simple_format comment.content %>
			</p>
		</div>

		<%= link_to "Répondre", new_subcomment_article_comment_path(comment.article_id, comment), remote: true if subcomment == false %>

		<div class="new_subcomments new"></div>

		<div class="subcomments">
			<%= render partial: "comments/comment", collection: (@comments = comment.comments), locals: { subcomment: true } %>
		</div>
	
	</div>

<% end %>
