<div class="comment <%= comment.id %>">

	<% if comment.comment_id.nil? %>

		<div class="left">
			<h3><%= comment.title %><br/><br/>
			<i class="foundicon-thumb-up"></i> <i class="foundicon-thumb-down"></i> +2</h3>
			<p class="infos"><i class="foundicon-chat"></i> Par <b>Sandrine</b><br/><%= l comment.created_at, format: :text %>,<br/>
				mis à jour <%= l comment.updated_at, format: :text %><br/><a href="#"><i class="foundicon-rss"></i> Suivre</p></a></p>
			<p class="img"><img src="http://m.illvid.dk/files/bonnier-ill/imagecache/std_1_1/sites/illvid.dk/modules/common/bp_usermod/img/profile_anonymous.png"></p>
		</div>
		<div class="right">
			<p>
				<%= simple_format comment.content %>
			</p>
		</div>
		<a href="#" class="answer" data-comment="<%= comment.id %>">Répondre</a>

		<% @subcomments = comment.comments %>

	<% end %>

	<div class="subcomments">
		<%= render partial: "comments/subcomment", collection: @subcomments %>

		<div class="new">
		</div>
	</div>
</div>