<% if comment.comment_id.nil? %>

	<div class="comment <%= comment.id %>">

		<div class="left">
			<h3><%= comment.title %><br/><br/>
			<i class="foundicon-thumb-up"></i> <i class="foundicon-thumb-down"></i> +2</h3>
			<p class="infos">
				<i class="foundicon-chat"></i> Par <b><%= link_to comment.user.name, comment.user %></b><br/>
				<%= l comment.created_at, format: :text %>,<br/>
				mis à jour <%= l comment.updated_at, format: :text %><br/>
				<a href="#"><i class="foundicon-rss"></i> Suivre</a>
			</p>
			<p class="img">
				<%= gravatar(comment.user) %>
			</p>
		</div>
		<div class="right">
			<p>
				<%= simple_format comment.content %>
			</p>
		</div>

		<%= link_to "Répondre", new_subcomment_article_comment_path(comment.article_id, comment), remote: true %>

		<div class="subcomments">
			<div class="show subcomments">
				<%= render partial: "comments/subcomment", collection: (@subcomments = comment.comments) %>
			</div>

			<div class="new subcomments"></div>
		</div>
	</div>

<% end %>
