<% if comment.comment_id.nil? || subcomment == true %>
	<div id="<%= comment.id %>" class="<%= subcomment == true ? 'subcomment' : 'comment' %>">

		<div class="left">
			<h3>
				<%= link_to '<i class="foundicong-paper-clip"></i>'.html_safe, article_path(comment.article) + "##{comment.id}" %> <%= comment.title %> <br/><br/>
				<div class="comment_vote popup_container">
					<%= link_to '<i class="foundicon-thumb-up"></i>'.html_safe, up_article_comment_path(comment.article_id, comment), remote: true %>
					<%= link_to '<i class="foundicon-thumb-down"></i>'.html_safe, down_article_comment_path(comment.article_id, comment), remote: true %>
					<span class="number"><%= (vote = comment.thumbup - comment.thumbdown) >= 0 ? "+ #{vote}" : " #{vote}" %></span> 
					<div class="popup">
						<p> Vous avez déjà voté </p>
						<div class="arrow-left"></div>
					</div>
				</div>
			</h3>
			<p class="infos">
				<i class="foundicon-chat"></i> Par <b><%= link_to comment.user.name, comment.user %></b><br/>
				<%= 'il y a ' + time_ago_in_words(comment.created_at) + ', le ' + l(comment.created_at.to_date, format: :long) %>,<br/>
				<%= comment.created_at != comment.updated_at ? "mis à jour #{l comment.updated_at, format: :text}" : nil %>
				<%= link_to '<br/><i class="foundicon-rss"></i> Suivre'.html_safe, subcomments_feed_article_comment_path(comment.article, comment, format: 'atom'), target: '_blank' if subcomment == false %> <br/>
				<% if edit?(comment, 'comments') %>
					<%= link_to '<i class="foundicong-edit"></i> Editer'.html_safe, edit_article_comment_path(comment.article_id, comment), remote: true %><br>
				<% end %>
				<% if delete?(comment, 'comments') %>
					<%= link_to '<i class="foundicong-remove"></i> Supprimer'.html_safe, article_comment_path(comment.article_id, comment), method: :delete %>
				<% end %>
			</p>
			<p class="img">
				<%= gravatar(comment.user) %>
			</p>
		</div>
		<div class="right">
			<p>
				<%= simple_format comment.content %>
			</p>
		</div>

		<%= link_to "Répondre", new_subcomment_article_comment_path(comment.article_id, comment), remote: true if subcomment == false %>

		<% if subcomment == false %>
			<div class="new_subcomments new"></div>
		<% end %>

		<div class="subcomments">
			<%= render partial: "comments/comment", collection: (@comments = comment.comments.limit(3)), locals: { subcomment: true } %>
			<div class="ancre_bas"></div>

		</div>

		<% if subcomment == false && comment.comments.count() > 3 %>
		<div class="more">
				<p class="content"><%= link_to "Afficher toutes les réactions à ce commentaire (#{comment.comments.count()})", more_subcomments_article_comment_path(comment.article_id, comment), remote: true, data: {id: comment.id} %>
				</p>
				<div class="loading">
				</div>
		</div>
		<% end %>

	</div>

<% end %>
