<h3>Laissez un commentaire sur cet article</h3>
<%= form_for @comment, url: article_comments_path(article), remote: true do |f| %>
	<div class="errors">
		<%= render 'shared/error_messages', object: f.object %>
	</div>
	<div>
		<%= f.hidden_field :comment_id, value: @comment.comment_id if @comment.comment_id?  %>
	</div>
	<div class="title">
		<%= f.text_field :title, value: 'RE: ' + article.title %>
		<%= f.label :title %>
	</div>
	<div class="content">
		<%= f.text_area :content %>
	</div>
	<div class="submit">
		<span class="submit"><%= f.submit %></span>
	</div>
<% end %>