<%= form_for Comment.new, url: article_comments_path(@article), remote: true do |f| %>
	<div class="errors">
		<%= render 'shared/error_messages', object: f.object %>
	</div>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title, value: 'RE: ' + @article.title %>
	</div>
	<div>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</div>
	<div class="submit">
		<span class="submit"><%= f.submit %></span>
	</div>
<% end %>