<div id="blog">
	<%= form_for [:admin, @article] do |f| %>

		<%= render 'shared/error_messages', object: f.object %>

		<article>
			<div class="left"><%= f.text_area :content %></div>
			<div class="right">
				<h2><%= f.text_area :title %></h2>
				<h3><%= f.text_area :subtitle %></h3>

				<p class="infos">
					<span style="font-size:1.5em; padding:0 0 10px 0">
						<i class="foundiconge-flag"></i>
						<%= f.collection_select :category_id, Category.all, :id, :name %>
						<br/><br/>
					</span>
					<i class="foundicon-chat"></i> Par <b><%= @article.user.name %></b><br/>

					<% if @article.updated_at == nil && @article.created_at == nil %>
						<%= l Time.now, :format => :text %>,<br/>
						mis à jour <%= l Time.now, :format => :text %><br/>
					<% else %>
						<%= l @article.created_at, :format => :text %>,<br/>
						mis à jour <%= l @article.updated_at, :format => :text %><br/>
					<% end %>

					<i class="foundicon-rss"></i> Suivre</a><br/><br/>
					<i class="foundicon-facebook"></i> 
					<i class="foundicon-twitter"></i>
					<i class="foundicon-google-plus"></i>
				</p>

				<p class="img">				
					<img src="<%= image_src(@article) %>">
				</p>

				<%= f.fields_for :image do |image_form| %>
					<%= image_form.label :image %>
					<%= image_form.file_field :image %>
				<% end %>

				<p class="interact">
					0 réactions à ce sujet.<br/>
					Participer
				</p>
			</div>
			<div class="like" id="popup_container">
				<p><i class="foundiconge-heart"></i></span> +1</p>
				<p>Vous avez aimé cet article?</p>
			</div>
		</article>
	<%= f.submit %>
	<% end %>
</div>