<div id="blog">
	<article>
		<div class="left">
			<p class="content">
				<div id="article_content" data-mercury="full">
					<%=raw article.content %>
				</div>
			</p>
		</div>
		<div class="right">
			<h2>
				<div id="article_title" data-mercury="full">
					<%=raw article.title %>
				</div>
			</h2>
			<h3>
				<div id="article_subtitle" data-mercury="full">
					<%=raw article.subtitle %>
				</div>
			</h3>
			<p class="infos">
				<span style="font-size:1.5em; padding:0 0 10px 0"><i class="foundiconge-flag"></i>
					<select>
						<option value="">-</option>
						<% Category.all.each do |category| %>
 							<option value="<%= category.id %>" <%= category.id == article.category_id ? 'selected="selected"' : ''%>><%= category.name %></option>
 						<% end %>
					</select>
					<div id="article_category" data-mercury="full"><%= article.category_id unless article.category_id.nil? %></div>
					<br/><br/>
				</span>
				<i class="foundicon-chat"></i> Par <b><%= article.user.name %></b><br/>

				<% if article.updated_at == nil && article.created_at == nil %>
					<%= l Time.now, :format => :text %>,<br/>
					mis à jour <%= l Time.now, :format => :text %><br/>
				<% else %>
					<%= l article.created_at, :format => :text %>,<br/>
					mis à jour <%= l article.updated_at, :format => :text %><br/>
				<% end %>

				<i class="foundicon-rss"></i> Suivre<br/><br/>
				<a><i class="foundicon-facebook"></i> <i class="foundicon-twitter"></i> <i class="foundicon-google-plus"></i></a> Partager
			</p>
			<p class="img">				
				<div id="article_image" data-mercury="full"><%= article.image.nil? ? '' : (raw article.image) %></div>
			</p>
			<p class="interact">0 réactions à ce sujet.<br/>Participer</p>
		</div>
		<div class="like">
			<p><i class="foundiconge-heart"></i> +0</p>
		</div>
		<p>Vous avez aimé cet article?</p>
	</article>
</div>

<script type="text/javascript"> 
$(function() {
	$('#article_category').hide() ;
	$('select').change(function() {
 		$('#article_category').html($("select option:selected").attr('value')) ;
	})
});
</script>