<p style="margin-top:20px"><%= link_to "Ajouter un article", "/editor/admin/articles/nouveau", id: "edit_link", data: { save_url: admin_articles_path }, class: "w8-button l-blue" %></p>

<div id="blog">
	<article>
		<div class="left">
			<p class="content">
				<div id="article_content" data-mercury="full">
					Contenu
				</div>
			</p>
		</div>
		<div class="right">
			<h2>
				<div id="article_title" data-mercury="full">
					Titre
				</div>
			</h2>
			<h3>
				<div id="article_subtitle" data-mercury="full">
					Sous-titre
				</div>
			</h3>
			<p class="infos">
				<span style="font-size:1.5em; padding:0 0 10px 0"><i class="foundiconge-flag"></i>
					<select>
						<option value="" selected="selected">-</option>
						<% Category.all.each do |category| %>
 							<option value="<%= category.id %>"><%= category.name %></option>
 						<% end %>
					</select>
					<div id="article_category" data-mercury="full"></div>
					<br/><br/>
				</span>
				<i class="foundicon-chat"></i> Par <b><%= current_user.name %></b><br/>
				<%= l Time.now, :format => :text %>,<br/>
				mis à jour <%= l Time.now, :format => :text %><br/>
				<i class="foundicon-rss"></i> Suivre<br/><br/>
				<a><i class="foundicon-facebook"></i> <i class="foundicon-twitter"></i> <i class="foundicon-google-plus"></i></a> Partager
			</p>
			<p class="img">
				<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Ash_Tree_-_geograph.org.uk_-_590710.jpg/220px-Ash_Tree_-_geograph.org.uk_-_590710.jpg" data-mercury="image">
			</p>
			<p class="interact">0 réactions à ce sujet.<br/>Participer</p>
		</div>
		<div class="like">
			<p><i class="foundiconge-heart"></i> +0</p>
		</div>
		<p>Vous avez aimé cet article?</p>
	</article>
</div>

<script type="text/javascript"> 
$(function() {
	$('#article_category').hide() ;
	$('select').change(function() {
 		$('#article_category').html($("select option:selected").attr('value')) ;
	})
});
</script>