<div class="left">
	<p><%=raw article.content %></p>
</div>
<div class="right">
	<h2><%= link_to (raw article.title), article_path(article) %></h2>
	<h3><%=raw article.subtitle %></h3>

	<p class="infos">
		<span style="font-size:1.5em; padding:0 0 10px 0">
			<i class="foundiconge-flag"></i> <%=raw article.category.name %><br/><br/>
		</span>
		<i class="foundicon-chat"></i> Par <b><%= link_to article.user.name, article.user %></b><br/>
		<%= 'il y a ' + time_ago_in_words(article.created_at) + ', le ' + l(article.created_at.to_date, format: :long) %>,<br/>
		<%= article.created_at != article.updated_at ? "mis à jour #{l article.updated_at, format: :text}" : nil %><br/>
		<%= link_to '<i class="foundicon-rss"></i> Suivre'.html_safe, blog_path(format: 'atom', auteur: article.user_id), target: '_blank' %><br/><br/>

		<% uri = "#{article.id}-#{article.title}".parameterize %>
		<% url = URI.escape "http://neurones.ch/articles/#{uri}" %>
		<span data-link=<%= url %> class="share_facebook"><i class="foundicon-facebook"></i></span>
		<span data-link=<%= url %> class="share_twitter"><i class="foundicon-twitter"></i></span>
		<span data-link=<%= url %> class="share_gplus"><i class="foundicon-google-plus"></i></span>
		Partager
	</p>

	<p class="img">
		<img src="<%= image_src(article) %>">
	</p>

	<p class="interact">
		<%=article.comments.count %> réactions à ce sujet.<br/>
		<%= link_to 'Participer', article_path(article) + '#reactions' %><br>
		<% if edit?(article) %>
			<a href="/admin/articles/<%= article.id %>/edition">Editer <i class="foundicong-edit"></i></a>
		<% end %>
	</p>

</div>
<div class="article_vote popup_container">
	<p><%= link_to '<i class="foundiconge-heart"></i>'.html_safe, vote_article_path(article), remote: true %> +<span class="number"><%= article.likes %></span></p>
	<p>Vous avez aimé cet article?</p>
	<div class="popup">
		<p> Vous avez déjà voté </p>
		<div class="arrow-left"></div>
	</div>
</div>
