<% content_for :head, auto_discovery_link_tag(:atom, blog_path(format: "atom")) %>

<% if create? %>
	<p style="margin-top:20px"><%= link_to "Ajouter un article", "admin/articles/nouveau", class: "w8-button l-blue" %></p>
<% end %>

<div id="blog">
	<% if @articles.any? %>
	<% @articles.each do |article| %>
	<article>
		<div class="left">
			<p><%=raw article.content %></p>
		</div>
		<div class="right">
			<h2><a href="#"><%=raw article.title %></a></h2>
			<h3><%=raw article.subtitle %></h3>
			<p class="infos">
				<span style="font-size:1.5em; padding:0 0 10px 0">
					<i class="foundiconge-flag"></i> <%=raw article.category.name %><br/><br/>
				</span>
				<i class="foundicon-chat"></i> Par <b><%=raw article.user.name %></b><br/>
				<%= l article.created_at, format: :text %>,<br/>
				mis à jour <%= l article.updated_at, format: :text %><br/>
				<%= link_to '<i class="foundicon-rss"></i> Suivre'.html_safe, blog_path(format: 'atom', auteur: 3), target: '_blank' %> </a><br/><br/>
				<a><i class="foundicon-facebook"></i> <i class="foundicon-twitter"></i> <i class="foundicon-google-plus"></i></a> Partager
			</p>
			<p class="img">
				<%=raw article.image %>
			</p>
			<p class="interact">4 réactions à ce sujet.<br/><a href="#">Participer</a><br>
			<% if edit?(article) %>
				<a href="/editor/admin/articles/<%= article.id %>/edition">Editer</a></p>
			<% end %>
		</div>
		<div class="like" id="popup_container">
			<p><a href="#"><i class="foundiconge-heart"></i></a> +7</p>
			<p>Vous avez aimé cet article?</p>
			<div id="popup">
				<p> Texte </p>
			</div>
		</div>
	</article>
	<% end %>
	<% end %>
	<article>
		<div class="left">
			<p class="content">
				In 2011, President Obama issued the first-ever Presidential Proclamation to mark April 2 as World Autism Awareness Day, and has issued similar proclamations every year since. Recognizing that more than 1 in 100 American children are on the autism spectrum, President Obama today called for increased support from educators, researchers, employers and healthcare providers.
<br/><br/>
He noted the importance of the Affordable Care Act in preventing insurers from denying coverage to children on the autism spectrum, and the assistance ACA will provide families through free screenings and development assessments. 
			</p>
		</div>
		<div class="right">
			<h2><a href="#">Les rêves: une explication utile?</a></h2>
			<h3>Mais que voulais bien dire ce rêve étrange? Une quelconque signification avec la réalité? Peut-être bien...</h3>
			<p class="infos">
				<span style="font-size:1.5em; padding:0 0 10px 0"><i class="foundiconge-flag"></i> Actualités<br/><br/></span>
				<i class="foundicon-chat"></i> Par <b>Mélanie</b><br/>
				Le 19 avr. 2013,<br/>
				mis à jour le 24 mai. 2013<br/>
				<a href="#"><i class="foundicon-rss"></i> Suivre</a><br/><br/>
				<a><i class="foundicon-facebook"></i> <i class="foundicon-twitter"></i> <i class="foundicon-google-plus"></i></a> Partager
			</p>
			<p class="img">
				<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Ash_Tree_-_geograph.org.uk_-_590710.jpg/220px-Ash_Tree_-_geograph.org.uk_-_590710.jpg">
			</p>
			<p class="interact">4 réactions à ce sujet.<br/><a href="#">Participer</a></p>
		</div>
		<div class="like">
			<p><a href="#"><i class="foundiconge-heart"></i></a> +7</p>
		</div>
		<p>Vous avez aimé cet article?</p>
	</article>
	<article>
		<div class="left">
			<p class="content">
				Today, we honor the anniversary of the passing of former U.S. Secretary of Commerce Ron Brown. Secretary Brown was a dedicated public servant whose untimely death during a trade mission to Croatia on April 3, 1996 ended his life far too soon. His vision continues to be important and today’s work at the Department of Commerce builds on his legacy. 
	<br/><br/>
	Secretary Brown served his country in Korea as a soldier in the U.S. Army and in the halls of Congress as chief counsel to the Senate Judiciary Committee. He also broke down barriers – becoming the first African American chairman of the Democratic National Committee and the first African American to serve as U.S. Secretary of Commerce. In this latter role, he made perhaps his largest impact.
	<br/><br/>
	During his tenure at Commerce, Secretary Brown pioneered a focus on exports that helped to boost the U.S. economy in the 1990s and contributed to one of the largest periods of economic expansion in our nation’s history. During a time when emerging markets in Asia and Latin America were opening up to trade, Secretary Brown led a concerted effort to support this advancement and to secure access for U.S. goods and services. He was a proponent of free trade, seeing business as a powerful force to create good jobs at home and to accelerate prosperity around the world. He also was an advocate of fair trade, seeking to ensure that U.S. workers would be helped and not harmed by new trading arrangements that would increase flows of capital and commerce.
			</p>
		</div>
		<div class="right">
			<h2>Une vie qui en vaut vraiment la peine</h2>
			<h3>Pourquoi partir à la racherche du bonheur quand il est déjà devant nous?</h3>
			<p class="infos"><i class="foundicon-chat"></i> Par<b> Mélanie</b><br/>Le 19 avr. 2013,<br/>mis à jour le 24 mai. 2013<br/><a href="#"><i class="foundicon-rss"></i> Suivre</a><br/><br/>
				<i class="foundicon-facebook"></i> <i class="foundicon-twitter"></i> <i class="foundicon-google-plus"></i> Partager</p>
			<p class="img"> <img src="http://www.villagedogpack.com/uploads/dog_pic_2.jpg"></p>
			<p class="interact">4 réactions à ce sujet.<br/><a href="#">Participer</a></p>
		</div>
		<p><span class="like"><a href="#"><i class="foundiconge-heart"></i> +18</a></span><br/>Vous avez aimé cet article?</p>
		<div class="comments">
			<h2>Réactions</h2>
			<h3>Exprimez-vous sur cet article</h3>
			<p><a href="#"><i class="foundicon-rss"></i> Suivre</p></a></p>
			<div class="comment">
				<div class="left">
					<h3>Vraiment sans craintes?... Je ne penses pas!! Mais oui.<br/><br/><i class="foundicon-thumb-up"></i> <i class="foundicon-thumb-down"></i> +2</h3>
					<p class="infos">
						<i class="foundicon-chat"></i> Par <b>Sandrine</b><br/>
						Le 23 juin 2013,<br/>
						mis à jour le 24 juin 2013<br/>
						<a href="#"><i class="foundicon-rss"></i> Suivre</a>
					</p>
					<p class="img"><%= image_tag "http://gravatar.com/avatar/#{Digest::MD5.hexdigest('gravatar.nkcr@gmail.com'.downcase)}.png" %></p>
				</div>
				<div class="right">
					<p>
						In the fourth installment of "Being Biden," the Vice President tells the story behind a photo taken with former Secretary of State Hillary Clinton backstage at the Vital Voices Global Leadership Awards. The two discussed their shared commitment to reduce violence against women and their call for all Americans to continue to speak out on this issue.
					</p>
				</div>
			</div>
			<div class="comment">
				<div class="left">
					<h3>RE: Vraiment sans craintes?... Je ne penses pas!! Mais oui.</h3>
					<p class="infos"><i class="foundicon-chat"></i> Par <b>Sandrine</b><br/>Le 23 juin 2013,<br/>mis à jour le 24 juin 2013<br/><a href="#"><i class="foundicon-rss"></i> Suivre</p></a></p>
					<p class="img"><img src="http://m.illvid.dk/files/bonnier-ill/imagecache/std_1_1/sites/illvid.dk/modules/common/bp_usermod/img/profile_anonymous.png"></p>
				</div>
				<div class="right">
					<p>
						Since the tragic shooting in Newtown, Connecticut prompted a national call for action just over 100 days ago, gun violence has killed more than 2,000 Americans.
					</p>
				</div>
			
				<div class="subcomment">
					<div class="left">
						<h3>RE: Vraiment sans craintes?... Je ne penses pas!! Mais oui.</h3>
						<p class="infos"><i class="foundicon-chat"></i> Par <b>Sandrine</b><br/>Le 23 juin 2013,<br/>mis à jour le 24 juin 2013</p>
						<p class="img"><img src="http://m.illvid.dk/files/bonnier-ill/imagecache/std_1_1/sites/illvid.dk/modules/common/bp_usermod/img/profile_anonymous.png"></p>
					</div>
					<div class="right">
						<p>
							Colorado – a state that’s experienced two of the worst mass shootings in U.S. history – has already taken action to prevent future violence. State officials worked together to enact tougher background checks that help keep guns out of the hands of dangerous people without infringing on the rights of responsible gun owners.
	<br/><br/>
	“There doesn’t have to be a conflict between protecting our citizens and protecting our Second Amendment rights,” President Obama said. “Colorado has shown that practical progress is possible.”
						</p>
					</div>
				</div>

				<div class="subcomment">
					<div class="left">
						<h3>RE: Vraiment sans craintes?... Je ne penses pas!! Mais oui.</h3>
						<p class="infos"><i class="foundicon-chat"></i> Par <b>John</b><br/>Le 23 juin 2013,<br/>mis à jour le 24 juin 2013</p>
						<p class="img"><img src="http://m.illvid.dk/files/bonnier-ill/imagecache/std_1_1/sites/illvid.dk/modules/common/bp_usermod/img/profile_anonymous.png"></p>
					</div>
					<div class="right">
						<p>
							Since the tragic shooting in Newtown, Connecticut prompted a national call for action just over 100 days ago, gun violence has killed more than 2,000 Americans.
						</p>
					</div>
				</div>
			</div>
			<div class="comment">
				<div class="left">
					<h3>Merci de tout coeur.</h3>
					<p class="infos"><i class="foundicon-chat"></i> Par <b>Baptiste</b><br/>Le 23 juin 2013,<br/>mis à jour le 24 juin 2013<br/><a href="#"><i class="foundicon-rss"></i> Suivre</p></a></p>
					<p class="img"><img src="http://m.illvid.dk/files/bonnier-ill/imagecache/std_1_1/sites/illvid.dk/modules/common/bp_usermod/img/profile_anonymous.png"></p>
				</div>
				<div class="right">
					<p>
						In the fourth installment of "Being Biden," the Vice President tells the story behind a photo taken with former Secretary of State Hillary Clinton backstage at the Vital Voices Global Leadership Awards. The two discussed their shared commitment to reduce violence against women and their call for all Americans to continue to speak out on this issue.
					</p>
				</div>
			</div>
		</div><!-- end of comments -->
	</article>
	<article>
		<div class="left">
			<p class="content">
				Today marks World Autism Awareness Day, and it was filled with events, meetings, and information campaigns here at the White House, across the Obama Administration, and across the country.
<br/><br/>
It was fitting that President Obama unveiled a bold new research initiative designed to revolutionize our understanding of the human brain.  The BRAIN (Brain Research through Advancing Innovative Neurotechnologies) Initiative will be essential to advancing what we know about the complexities of autism. Originally referenced during the State of the Union, this ambitious new project was launched with approximately $100 million in the President’s Fiscal Year 2014 Budget, and ultimately aims to help researchers find new ways to treat, cure, and even prevent brain disorders, such as Alzheimer’s disease, epilepsy, and autism.
<br/><br/>
As President Obama said today: “We’re still unable to cure diseases like Alzheimer’s or autism, or fully reverse the effects of a stroke. And the most powerful computer in the world isn’t nearly as intuitive as the one we’re born with. So there is this enormous mystery waiting to be unlocked, and the BRAIN Initiative will change that by giving scientists the tools they need to get a dynamic picture of the brain in action and better understand how we think and how we learn and how we remember. And that knowledge could be -- will be -- transformative.”
<br/><br/>
This initiative builds on President Obama’s renewal of commitments to research, development of support services, and increased collaboration with advocates and family members in the autism community  so that individuals across the autism spectrum can reach their full potential.
			</p>
		</div>
		<div class="right">
			<h2>Hey! Pourquoi ne pas faire comme les autres?</h2>
			<h3>Parfois, on peut se demander comment font les autres. C'est simple, exactement la même chose que nous...</h3>
			<p class="infos">Par Mélanie<br/>Le 19 avr. 2013,<br/>mis à jour le 24 mai. 2013</p>
			<p class="img"> <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Ash_Tree_-_geograph.org.uk_-_590710.jpg/220px-Ash_Tree_-_geograph.org.uk_-_590710.jpg"></p>
			<p class="interact">4 réactions à ce sujet.<br/><a href="#">Participer</a></p>
		</div>
		<p class="like"><span><a href="#"><i class="foundiconge-heart"></i> +2</a></span><br/>Vous avez aimé cet article?</p>
	</article>
</div>