<% provide(:title, @article.title) %>
<% content_for :head do %>
	<meta property="og:title" content="<%= @article.title %>, <%= @article.subtitle %>" />
	<meta property="og:image" content="<%= image_src(@article) %>" />
	<meta property="og:description" content="<%= strip_tags truncate @article.content, length: 100 %>" />
<% end %>

<div id="blog">
	<article class="<%= @article.id %>">
		
		<%= render "articles/article", article: @article %>

		<div class="comments" id="reactions">
			<h2>Réactions</h2>
			<h3>Exprimez-vous sur cet article</h3>
			<p>
				<%= link_to '<i class="foundicon-rss"></i> Suivre'.html_safe, article_comments_feed_article_comments_path(@article, format: 'atom'), target: '_blank' %>
			</p>

			<%= render partial: "comments/comment", collection: (@comments = @article.comments), locals: { subcomment: false } %>
		 
		</div>

		<div class="new_comments new">
			<%= render "comments/form", event: (@comment = @article.comments.new) %>
		</div>

		<div class="edit_comment">
		</div>
		<!-- For balackout effect -->
		<div class="edit_overlay">
		</div>
		</div>
	</article>
</div>