<div id="snaptable">

	<div class="table_buttons">
    <div class="table_buttons">
      <p>Actions</p>
      <p>
        <%= add_button %>
        <%= edit_button %>
        <%= delete_button %>
      </p>
    </div>
	</div>

	<table>
		<thead>
      <tr>
				<th>ID</th>
				<th>URL</th>
				<th>Ordre</th>
				<th>Nom</th>
				<th>Groupe</th>
				<th>Crée le</th>
				<th>Mis à jour le</th>
				<th>Modifier l'ordre</th>
			</tr>
		</thead>
		<tbody>
      <% if @pages.any? %>
				<% @pages.each do |page| %>
					<tr class="<%= cycle('odd', 'even') %>" data-url="<%= page.url %>">
						<td><%= page.id %></td>
						<td><%= page.url %></td>
						<td><%= page.page_order %></td>
						<td><%= page.name %></td>
						<td><%= page.group.name %></td>
						<td><%= l page.created_at, format: :short %></td>
						<td><%= l page.updated_at, format: :short %></td>
						<td><%= link_to "▲", down_admin_group_g_page_path(current_group, page) %><%= link_to "▼", up_admin_group_g_page_path(current_group, page) %></td>
					</tr>
				<% end %>
			<% else %>
        <tr><td class="none" colspan="<%= presenter.column_names.count %>">Il n'y a aucun élément à afficher.></td></tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate @pages %>

</div>
