<%= link_to "Retour", edit_admin_group_path(current_group) %>

<h1>Pages</h1>

<%= render 'shared/table_buttons_nr' %>

<table class="client_tables display">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nom</th>
			<th>Ordre</th>
			<th>URL</th>
		</tr>
	</thead>
	<tbody>
		<% @pages.each do |page| %>
			<tr>
				<td>
					<%= url(page.url).html_safe %>
					<%= page.id %>
				</td>
				<td><%= page.name %></td>
				<td><%= page.page_order %></td>
				<td><%= page.url %></td>
			</tr>
		<% end %>
	</tbody>
</table>