<h1>Activer le site web</h1>

<%= form_for @group, url: activate_group_admin_group_group_path(@group.id) do |f| %>

	<%= render 'shared/error_messages', object: f.object %>
	
	<table>
		<tr>
			<td><%= f.label :url %></td>
			<td><%= f.text_field :url %></td>
		</tr>
		<tr><td><%= f.submit "Finaliser", class: 'w8-button l-blue' %></td></tr>
	</table>
<% end %>