<p><%= link_to "Retour", group_admin_group_groups_path %></p>

<h1>Editer un groupe</h1>

<%= render 'form', event: @group %>

<% if @group.website_activated %>
	<%= link_to "Pages", group_admin_group_group_group_pages_path(@group) %>
	<%= link_to "Modules", group_admin_group_group_group_modules_path(@group) %>
<% else %>
	<%= link_to "Activer le site web", activation_group_admin_group_group_path(@group.id), class: 'w8-button l-blue' %>
<% end %>