<% provide(:title, "Catalogue des groupes de jeunes romands apostolique") %>
<% content_for :head do %>
	<meta property="og:title" content="Catalogue des groupes de jeunes romands apostolique" />
	<meta property="og:image" content="http://neurones.ch/assets/layout/bg.jpg" />
	<meta property="og:description" content="Neurones.ch, retrouver vos groupes de jeunes en Suisse-Romande. Utilises la carte pour sélectionner un groupe de jeunes et afficher plus d'infos." />
<% end %>

<%= render 'shared/image_banner', image: 'catalogue/banner.jpg' %>

<article id="groups">

	<%= render 'shared/map', groups: @groups %>

	<div class="container">
		<div class="title">
			<h2>Fribourg</h2>
		</div>
		<div class="content">
			<% @groups.select{|group| group.canton.id == 1}.each do |group| %>
				<%= render('group', group: group) %>
			<% end %>
		</div>
	</div>

	<div class="container">
		<div class="title">
			<h2>Valais</h2>
		</div>
		<div class="content">
			<% @groups.select{|group| group.canton.id == 3}.each do |group| %>
				<%= render('group', group: group) %>
			<% end %>
		</div>
	</div>

	<div class="container">
		<div class="title">
			<h2>Vaud</h2>
		</div>
		<div class="content">
			<% @groups.select{|group| group.canton.id == 2}.each do |group| %>
				<%= render('group', group: group) %>
			<% end %>
		</div>
	</div>

	<div class="container">
		<div class="title">
			<h2>Genève</h2>
		</div>
		<div class="content">
			<% @groups.select{|group| group.canton.id == 4}.each do |group| %>
				<%= render('group', group: group) %>
			<% end %>
		</div>
	</div>

	<div class="container">
		<div class="title">
			<h2>Neuchâtel</h2>
		</div>
		<div class="content">
			<% @groups.select{|group| group.canton.id == 6}.each do |group| %>
				<%= render('group', group: group) %>
			<% end %>
		</div>
	</div>

	<div class="container">
		<div class="title">
			<h2>Jura</h2>
		</div>
		<div class="content">
			<% @groups.select{|group| group.canton.id == 5}.each do |group| %>
				<%= render('group', group: group) %>
			<% end %>
		</div>
	</div>

	<div class="container">
		<div class="title">
			<h2>Berne</h2>
		</div>
		<div class="content">
			<% @groups.select{|group| group.canton.id == 7}.each do |group| %>
				<%= render('group', group: group) %>
			<% end %>
		</div>
	</div>

</article>

<script>
	window.onload = function() {
		start_map();
	}
</script>
