<% provide(:title, 'Profile') %>

<div class="home">
	<div class="identity">
		<h3>Mon identité</h3>
		<div class="img">
			<%= gravatar current_user %>
		</div>
		<div class="infos">
			<div class="infos2">
				<p>Nom</p>
				<p>Adresse email</p>
				<p>Mot de passe</p>
				<p>Email gravatar</p>
			</div>
			<div class="infos3">
				<p><%= current_user.name %></p>
				<p><%= current_user.email %></p>
				<p>••••••••••</p>
				<p><%= current_user.gravatar_email ? current_user.gravatar_email : '-' %></p>
				<%= link_to '<i class="foundiconge-settings"></i> Modifier'.html_safe, edit_user_path(current_user) %>
			</div>
		</div>
	</div>
	<div class="ressources">
		<h3><i class="foundiconge-tools"></i> Mes ressources</h3>
		<h4>Vos droits et votre activité sur neuronnes</h4>
		<ul>
		<% @elements.each do |element| %>
			<% if element.name != 'admin/paintings' && !element.name.include?('group') %>
				<li class="clickable">
					<p class="link"><%= link_to element.name.split('/').last, element.name %></p>
					<p class="info"><%= element.info %> entré(es)</p>
				</li>
			<% elsif element.name == 'group/admin/groups' %>
				<li class="clickable">
					<p class="link"><%= link_to 'Groupes', admin_group_groups_path %></p>
					<p class="info"><%= element.info %> entré(es)</p>
				</li>
			<% end %>
		<% end %>
		</ul>
	</div>
</div>