<% provide(:title, 'Profile') %>

<div class="home">
	<div class="identity">
		<h3>Mon identité</h3>
		<div class="img">
			<%= gravatar current_user %>
		</div>
		<div class="infos">
			<div class="infos2">
				<p>Nom</p>
				<p>Adresse email</p>
				<p>Mot de passe</p>
				<p>Email gravatar</p>
			</div>
			<div class="infos3">
				<p><%= current_user.name %></p>
				<p><%= current_user.email %></p>
				<p>••••••••••</p>
				<p><%= current_user.gravatar_email ? current_user.gravatar_email : '-' %></p>
				<%= link_to '<i class="foundiconge-settings"></i> Modifier'.html_safe, edit_user_path(current_user) %>
			</div>
		</div>
		<% if !gravatar?(current_user) %>
			<p><br>Vous n'avez pas encore d'avatar.</p>
			<p class="gravatar">Avec gravatar c'est simple et vous pourrez réutiliser votre avatar sur plusiers autres sites. Souhaitez-vous savoir comment procéder?<br><span class="link">En savoir plus</span></p>
			<div class="more_gravatar">
				<p class="title">Comment avoir un avatar?</p>
				<p>Pour gérer les avatars, nous avons choisir un service externe largement utilisé sur le web qui s'appelle gravatar. C'est sur ce service que seront hébergés vos avatars.</p>
				<p class="title">Qu'est-ce que gravatar?</p>
				<p>Gravatar est un service de centralisation d'avatar. L'idée est, qu'au lieu de stocker et gérer vos avatar indépendemment sur chaque site où vous en avez besoin, vos avatar soient tous aux même endroit. Ce qui permet d'un part aux sites de simplement récupérer les avatars sans devoir les gérers, et aux utilisateurs de regroupper leurs avatars à un seul endroit.</p>
				<p class="title">Comment procéder?</p>
				<p>Il faut vous rendre sur <a href="http://gravatar.com" target="_blank">le site</a> de gravatar et vous créer un compte. Votre compre est basé sur votre addresse e-mail. Cela veut dire que votre avatar sera associé à votre addresse e-mail. Si vous utilisez la même addresse e-mail pour associé votre avatar que celle que vous avez utilisé sur neuronnes alors vous verrez automatiquement votre avatar apparaître. Sinon, vous pouvez spécifier l'addresse e-mail de votre avatar en chageant votre profil.</p>
			</div>
		<% end %>
	</div>
	<div class="ressources">
		<h3><i class="foundiconge-tools"></i> Mes ressources</h3>
		<h4>Vos droits et votre activité sur neuronnes</h4>
		<ul>
		<% @elements.each do |element| %>
			<% if element.name != 'admin/paintings' && !element.name.include?('group') %>
				<li class="clickable">
					<p class="link"><%= link_to (t 'activerecord.models.' + element.name.split('/').last.singularize), element.name %></p>
					<p class="info"><%= element.info %> entré(es)</p>
				</li>
			<% elsif element.name.include?('group') %>
				<% name = element.name.split('/').last %>
				<li class="clickable">
					<p class="link"><%= link_to (t 'activerecord.models.group_' + name.singularize), '/admin/group/' + name %></p>
					<p class="info"><%= element.info %> entré(es)</p>
				</li>
			<% end %>
		<% end %>
		</ul>
	</div>
</div>