<% provide(:title, @user.name) %>

<div id="user_show">
	<h1>
		<%= @user.name %>
	</h1>
	<div class="left">
		<div>
			<%= gravatar(@user, 200) %>
		</div>
	</div>
	<div class="right">
		<p><span class="labels">Nom:</span> <%= @user.name %></p>
		<p><span class="labels">Inscrit:</span> <%= l @user.created_at, format: :text %></p>
		<p><span class="labels">Articles:</span> <%= @user.articles.count %></p>
		<p><span class="labels">Commentaires:</span> <%= @user.comments.count %></p>
	</div>
</div>
