<table>
	<% if arrayi == nil || arrayi.empty? %>
	<tr>
		<td>Pas d'entrées à afficher</td>
	</tr>
	<% else %>
		<% # Affichage du header avec le nom des attributs %>
		<tr>
			<% arrayi[0].attributes.each do |attr_name, attr_value| %>

				<% # Test pour ne pas afficher certains attributs %>
				<% if attr_name != 'updated_at' && attr_name != 'created_at' %>
					<th><%= attr_name %></th>
				<% end %>

			<% end %>
		</tr>
		<% # Affichage des entrées %>
		<% arrayi.each do |obj| %>

			<tr class="<%= cycle('even', 'odd') -%>">
				<% obj.attributes.each do |attr_name, attr_value| %>	

					<% # Test pour un entrée de type 'date' %>
					<% if attr_value.is_a?(Date) || attr_value.is_a?(DateTime) || attr_value.is_a?(Time) %>

						<% # Test pour ne pas afficher certaines entrées %>
						<% if attr_name != 'updated_at' && attr_name != 'created_at' %>
							<td style="min-width:60px"><%= attr_value.strftime('%d-%m-%y') %></td>
						<% end %>
						
					<% else %>
						<% # Sinon affichage des 40 premiers caractères %>
						<td><%= truncate(attr_value.to_s, length: 40) %></td>
					<% end %>

				<% end %>
			<% if @update_ownerships.any? %>
				<td><%= link_to ">>", "/" + params[:controller] + "/#{obj.id}/edition" %></td>
			<% end %>
			<% if @delete_ownerships.any? %>
				<td><%= link_to "x", "/" + params[:controller] + "/#{obj.id}", method: :delete, confirm: "Etes-vous sûr de vouloir supprimer cette entrée?" %></td>
			<% end %>
			</tr>

		<% end %>
	
	<% # Affichage des liens de pagination %>
	<table>
		<tr><td><%= will_paginate(arrayi, previous_label: 'Précédent', next_label: 'Suivant') %></td></tr>
	</table>

	<% end %>

</table>