<%
# pour l'id du li on est obligé d'ajouter un truc avant sinon sa fait concurence sur la page du catalogue 
def affiche(canton_id)
	@groups.each do |group| 
		if group.canton.id == canton_id
			concat "<li id='gr#{group.id}'>".html_safe
			concat "<h3 class='a_group'><a href='#{group.website.empty? ? nil : group.website}' target='_blank'>#{group.name}</a>".html_safe + ' - ' + group.city + '</h3>'.html_safe
			concat truncate(group.description, length: 100, separator: ' ')
			concat (' <a class="plus" href="' + catalogue_path + '#' + group.id.to_s + '">(afficher plus)</a>').html_safe
			concat '</li>'.html_safe
		end
	end
end 
%>

<article class="map" >
	<div id="paper">
	</div>
	<div class="right">
		<div id="ST">
			<h3>Le réseau</h3>
			<p>Le réseau jeunesse suisse-romande réunit pour l'instant <%= @groups.size %> goupes de jeunes de 5 cantons différents.</p>
		</div>
		<div id="FRI">
			<h3>Fribourg</h3>
			<ul><% affiche 1 %></ul>
		</div>
		<div id="VAU">
			<h3>Vaud</h3>
			<ul><% affiche 2 %></ul>
		</div>
		<div id="JUR">
			<h3>Jura</h3>
			<ul><% affiche 5 %></ul>
		</div>
		<div id="VAL">
			<h3>Valais</h3>
			<ul><% affiche 3 %></ul>
		</div>
		<div id="GEN">
			<h3>Genève</h3>
			<ul><% affiche 4 %></ul>
		</div>
		<div id="NEU">
			<h3>Neuchâtel</h3>
			<ul><% affiche 6 %></ul>
		</div>
		<div id="BER">
			<h3>Berne</h3>
			<ul><% affiche 7 %></ul>
		</div>
	</div>
</article>
<script TYPE="text/javascript">
/* lattitude, longitude, un id d'un block propre à un groupe, l'indentifiant du canton */
	var points = [
		<% @groups.each do |group| %>
			<% if group.canton.name != 'Exemple' %>
				[<%= group.longitude %>, <%= group.latitude %>, '<%= "gr#{group.id}" %>', '<%= group.canton.name[0..2].upcase %>'],
			<% end %>
		<% end %>
	];
</script>