<article class="map" >
	<div id="paper">
	</div>
	<div class="right">
		<div id="ST">
			<h3>Le réseau</h3>
			<p>Le réseau jeunesse suisse-romande réunit pour l'instant <%= @groups.size-1 %> goupes de jeunes de 5 cantons différents.</p>
		</div>
		<div id="FRI">
			<h3>Fribourg</h3>
			<ul><% display_canton 1 %></ul>
		</div>
		<div id="VAU">
			<h3>Vaud</h3>
			<ul><% display_canton 2 %></ul>
		</div>
		<div id="JUR">
			<h3>Jura</h3>
			<ul><% display_canton 5 %></ul>
		</div>
		<div id="VAL">
			<h3>Valais</h3>
			<ul><% display_canton 3 %></ul>
		</div>
		<div id="GEN">
			<h3>Genève</h3>
			<ul><% display_canton 4 %></ul>
		</div>
		<div id="NEU">
			<h3>Neuchâtel</h3>
			<ul><% display_canton 6 %></ul>
		</div>
		<div id="BER">
			<h3>Berne</h3>
			<ul><% display_canton 7 %></ul>
		</div>
	</div>
</article>
<script TYPE="text/javascript">
/* lattitude, longitude, un id d'un block propre à un groupe, l'indentifiant du canton */
	var points = [
		<% @groups.each do |group| %>
			<% if group.canton.name != 'Exemple' %>
				[<%= group.longitude %>, <%= group.latitude %>, '<%= "gr#{group.id}" %>', '<%= group.canton.name[0..2].upcase %>'],
			<% end %>
		<% end %>
	];
</script>
