<p><%= link_to "Retour", admin_group_groups_path %></p>

<h1>Editer un groupe</h1>

<%= render 'form', event: @group %>

<% if @group.website_activated %>
	<%= link_to "Pages", admin_group_group_pages_path(@group) %>
	<%= link_to "Modules", admin_group_group_modules_path(@group) %>
<% else %>
	<%= link_to "Activer le site web", activation_admin_group_group_path(@group), class: 'w8-button l-blue' %>
<% end %>