<% provide(:title, 'Evénements') %>

<%= render 'shared/image_banner', image: '/assets/programme/banner.jpg' %>

<h1>Evénements prévus</h1>



<%= "<p>Il n'y a pas d'évévement prévus pour l'instant.</p>".html_safe unless @events.any? %>
<% if @events.any? %>
	<p>Prochain événement dans:</p>
	<div id="countdown">
		<div class="clock">
		  <!-- Days -->
		  <div class="clock_days">
		      <div class="bgLayer">
		          <canvas id="canvas_days" width="122" height="122">
		              Your browser does not support the HTML5 canvas tag.
		          </canvas>
		          <p class="val">0</p>
		          <p class="type_days">Jours</p>
		      </div>
		  </div>
		  <!-- Days -->
		  <!-- Hours -->
		  <div class="clock_hours">
		      <div class="bgLayer">
		          <canvas id="canvas_hours" width="122" height="122">
		              Your browser does not support the HTML5 canvas tag.
		          </canvas>

		          <p class="val">0</p>
		          <p class="type_hours">Heures</p>
		      </div>
		  </div>
		  <!-- Hours -->
		  <!-- Minutes -->
		  <div class="clock_minutes">
		      <div class="bgLayer">
		          <canvas id="canvas_minutes" width="122" height="122">
		              Your browser does not support the HTML5 canvas tag.
		          </canvas>
		          <div class="text">
		              <p class="val">0</p>
		              <p class="type_minutes">Minutes</p>
		          </div>
		      </div>
		  </div>
		  <!-- Minutes -->
		  <!-- Seconds -->
		  <div class="clock_seconds">
		      <div class="bgLayer">
		          <canvas id="canvas_seconds" width="122" height="122">
		              Your browser does not support the HTML5 canvas tag.
		          </canvas>
		          <p class="val">0</p>
		          <p class="type_seconds">Secondes</p>
		      </div>
		  </div>
		  <!-- Seconds -->
		</div>
	</div>


	<% @events.each do |event| %>
		<div>
			<p style="color:#8596ff;font-size:20px;margin:0 0 10px 0"><span style="font-weight:bold"><%= event.title %></span> <span style="vertical-align:top;font-size:12px"><%= l event.date, format: :text %></span ></p>
			<p>
				<%= raw simple_format(event.content, {}, sanitize: false) %> 
			</p>
		</div>
	<% end %>

	<script type="text/javascript">
	  $(document).ready(function(){
	      JBCountDown({
	          secondsColor : "#FFF",
	          secondsGlow  : "none",
	          
	          minutesColor : "#FFF",
	          minutesGlow  : "none",
	          
	          hoursColor   : "#FFF",
	          hoursGlow    : "none",
	          
	          daysColor    : "#FFF",
	          daysGlow     : "none",
	          
	          startDate   : "<%= Time.parse('1 1 1 12:00:00').to_i %>",
	          endDate     : "<%= @events.first.date.to_i %>",
	          now         : "<%= Time.now.to_i %>"
	      });
	  });
	</script>

<% end %>