<%= render 'shared/image_banner', image: '/assets/layout/bg.jpg' %>

<% if edit?(page) %>
	<div id="page_edit">
		<%= form_for [:admin, page], remote: true do |f| %>

			<div class="errors">
				<%= render 'shared/error_messages', object: f.object %>
			</div>

			<h1><%= f.text_area :title, class: "inline", id: "ckeditor_#{page.id}" %></h1>
			<p><%= f.text_area :content, class: "inline", id: "ckeditor2_#{page.id}" %></p>
			<%= f.submit, class: "w8-button l-blue ckeditor-save", style: "margin-top:20px" %><div class="success"></div>
		<% end %>
	</div>
<% else %>
	<h1><%= raw page.title %></h1>
	<p><%= raw page.content %></p>
<% end %>