<% provide(:title, 'Index') %>

<%= render 'show', page: @page %>

<%= render 'shared/map' %>

<% if @event %>
<div class="separator"></div>
<h2>Prochain événement</h2>
<article class="event">
	<p class="img"><%= image_tag @event.image != nil ? @event.image.image_url : nil %></p>
	<h3> <%= @event.theme %> </h3>
	<p> <%= raw simple_format(@event.info, {}, sanitize: false) %> </p>
	<p>______________________________________</p>
	<p> <b>Date</b> : Le <%= l @event.date, format: :long %></p>
	<p> <b>Lieu</b> : <%= @event.lieu %></p>
</article>
<% end %>

<% if @article %>
<div class="separator"></div>
<h2>Dernier article du blog</h2>
<article class="article">
	<h3> <%= @article.title %> </h3>
	<p> <%= raw simple_format(@article.content, {}, sanitize: false) %> </p>
	<div class="infos">
	<p> Écrit le <%= l @article.created_at, format: :long %></p>
	<p> Mis à jour le <%= l @article.updated_at, format: :long %></p>
	</div>
</article>
<% end %>