<% provide(:title, 'Index') %>
<!-- <img style="position:absolute;top:140px;" src="/assets/header/youth.jpg"> -->
<!-- <!-- Countdown dashboard start --
<div id="countdown_dashboard">
	<div class="dash weeks_dash">
		<div class="digit">0</div>
		<div class="digit">0</div>
		<div class="dash_title">Semaine</div>
	</div>

	<div class="dash days_dash">
		<div class="digit">0</div>
		<div class="digit">0</div>
		<div class="dash_title">Jours</div>
	</div>

	<div class="dash hours_dash">
		<div class="digit">0</div>
		<div class="digit">0</div>
		<div class="dash_title">Heures</div>
	</div>

	<div class="dash minutes_dash">
		<div class="digit">0</div>
		<div class="digit">0</div>
		<div class="dash_title">Minutes</div>
	</div>

	<div class="dash seconds_dash">
		<div class="digit">0</div>
		<div class="digit">0</div>
		<div class="dash_title">Secondes</div>
	</div>

</div> -->

<%= render 'show', page: @page %>

<%= render 'shared/map', groups: @groups %>

<% if @event %>
<div class="separator"></div>
<h2>Prochain événement</h2>
<article class="event">
	<p class="img"><%= image_tag @event.image != nil ? @event.image.image_url : nil %></p>
	<h3> <%= @event.theme %> </h3>
	<p> <%= raw simple_format(@event.info, {}, sanitize: false) %> </p>
	<p>______________________________________</p>
	<p> <b>Date</b> : Le <%= l @event.date, format: :long %></p>
	<p> <b>Lieu</b> : <%= @event.lieu %></p>
</article>
<% end %>

<% if @article %>
<div class="separator"></div>
<h2>Dernier article du blog</h2>
<article class="article">
	<h3> <%= @article.title %> </h3>
	<p> <%= raw simple_format(@article.content, {}, sanitize: false) %> </p>
	<div class="infos">
	<p> Écrit le <%= l @article.created_at, format: :long %></p>
	<p> Mis à jour le <%= l @article.updated_at, format: :long %></p>
	</div>
</article>
<% end %>

<SCRIPT TYPE="text/javascript">
	var points = [
		<% @groups.each do |group| %>
			[<%= group.latitude %>, <%= group.longitude %>],
		<% end %>
	];
</SCRIPT>
<script language="javascript" type="text/javascript">
	jQuery(document).ready(function() {
		$('#countdown_dashboard').countDown({
			targetDate: {
				'day': 		19,
				'month': 	4,
				'year': 	2013,
				'hour': 	11,
				'min': 		1,
				'sec': 		12
			}
		});
	});
</script>