<% provide(:title, 'Réseau Neuronnes Jeunesse Suisse-romande') %>
<h1 style="position: absolute;left:9999px">Réseau Neuronnes Jeunesse Suisse-romande</h1>

<%= render 'show', page: @page %>

<%= render 'shared/map', groups: @groups %>

<% if @event %>
<div class="separator"></div>
<h2>Prochain événement</h2>
<article class="event">
	<h3> <%= link_to @event.title, '/evenements' %> </h3>
	<!-- <p> <%= raw simple_format(truncate(@event.content.to_s, length: 200, separator: ' '), {}, sanitize: false) %> </p> -->
	<p><%= @event.content.to_s.split("\r\n")[0] %></p>
</article>
<% end %>

<% if @article %>
<div class="separator"></div>
<h2 style="margin: 0 0 -40px 0">Dernier article du blog</h2>
<div id="blog">
	<article class="<%= @article.id %>">
		<%= render "articles/article", article: @article %>
	</article>
</div>
<% end %>