<% provide(:title, 'Index') %>

<%= render 'show', page: @page %>

<%= render 'shared/map', groups: @groups %>

<% if @event %>
<div class="separator"></div>
<h2>Prochain événement</h2>
<article class="event">
	<p class="img"><%= image_tag @event.image != nil ? @event.image.image_url : nil %></p>
	<h3> <%= @event.theme %> </h3>
	<p> <%= raw simple_format(@event.info, {}, sanitize: false) %> </p>
	<p>______________________________________</p>
	<p> <b>Date</b> : Le <%= l @event.date, format: :long %></p>
	<p> <b>Lieu</b> : <%= @event.lieu %></p>
</article>
<% end %>

<% if @article %>
<div class="separator"></div>
<h2 style="margin: 0 0 -40px 0">Dernier article du blog</h2>
<div id="blog">
	<article class="<%= @article.id %>">
		<%= render "articles/article", article: @article %>
	</article>
</div>
<% end %>