<div id="module_<%= comp_page.id %>" class="module_events_index">
	<% if events = current_group.events.where('date >=?', [Time.zone.now]).order('date ASC') %>
		<%# Return the end date of timeline. First test if not nil, second test if the date is not too close. In this case, return the date after 10 days %>
		<% last_date = events.last.date? ? (events.last.date < Date.today + 10.day ? Date.today + 10.day : events.last.date.to_date) : Date.today + 10.day %>

		<!-- Title -->

		<div class="title">
			<div class="left">
				<p><i>du </i><%= l Date.today, format: :short %></p>
			</div>
			<div class="right">
				<p><i>au </i><%= l last_date, format: :short %></p>
			</div>
		</div>

		<!-- Table -->

		<table id="timeline">

			<!-- first row -->
			<tr class="marker">
				<% (Date.today..last_date).each do |date| %>
					<td>
						<% if event = match_event(date, events) %>
							<p class="<%= date.day.to_s + ' b' %>"><a href="<%= '#' + date.day.to_s %>"><i class='foundicong-location'></i></a></p>
						<% end %>
					</td>
				<% end %>
			</tr>

			<!-- second row -->
			<tr class="date">
				<% (Date.today..((last_date) < (date2=Date.today + 10.day) ? date2 : last_date)).each do |day| %>
					<td class="<%= day.strftime('%w').to_f == 6 || day.strftime('%w').to_f == 0 ? "weekend " : "" %><%= (day == Date.today) ? 'today ' : '' %> ">
              <%= day.day %>
          </td>
				<% end %>
			</tr>

		</table>

		<!-- Summary -->

		<p class="subtitle">Les prochaines rencontres</p>

			<table id="summary_timeline">

				<% events.each_with_index do |event, index| %>
					<tr class="<%= 'a ' + event.date.day.to_s + 'a' %>">
						<td class="countdown">
							<span class="anchor" id="<%= event.date.day.to_s %>"></span>
							<%= Time.zone.now == event.date ? "Aujourd'hui!" : Time.zone.now == event.date - 1.day ? "Demain!" : "Dans " + time_ago_in_words(event.date) %>
						</td>
						<td class="marker">
							<i class='foundicong-location'></i>
						</td>
						<td class="<%= event.date.strftime('%w').to_f == 6 || event.date.strftime('%w').to_f == 0 ? "weekend" : "number" %>">
							<%= event.date.day %>
						</td>
						<td class="description">
							<div>
								<a class="toggle_trigger <%= index == 0 ? "active" : ""%>"><%= event.content %>
								</a>
							</div>
              <div class="<%= index == 0 ? "toggle_now" : "toggle_wrap" %>">
                <p>
									<%= raw simple_format(event.content, {}, sanitize: false) %>
								</p>
							</div>
						</td>
					</tr>
				<% end %>

			</table>

	<% else %>
	<% end %>
</div>
<div id="text_<%= comp_page.text.id %>">
	<%= render 'admin/g/texts/show', text: comp_page.text %>
</div>