<div id="module_<%= comp_page.id %>" class="module_events_index">
	<% if current_group.upcoming_events.present? %>

		<!-- Title -->

		<div class="title">
			<div class="left">
				<p><i>du </i><%= l Date.today, format: :short %></p>
			</div>
			<div class="right">
				<p><i>au </i><%= l current_group.last_date, format: :short %></p>
			</div>
		</div>

		<!-- Table -->

		<table id="timeline">

			<!-- first row -->
			<tr class="marker">
				<% (Date.today..current_group.last_date).each do |date| %>
					<td>
						<% if has_event?(date, current_group.upcoming_events) %>
							<p class='<%= "#{date.day} b" %>'>
                <a href='<%= "##{date.day}" %>'><i class='foundicong-location'></i></a>
              </p>
						<% end %>
					</td>
				<% end %>
			</tr>

			<!-- second row -->
			<tr class="date">
				<% (Date.today..current_group.last_date).each do |day| %>
					<td class="<%= weekend?(day) %> <%= today?(day) %>">
              <%= day.day %>
          </td>
				<% end %>
			</tr>

		</table>

		<!-- Summary -->

		<p class="subtitle">Les prochaines rencontres</p>

			<table id="summary_timeline">

				<% current_group.upcoming_events.each_with_index do |event, index| %>
					<tr class='<%= "a #{event.date.day}a" %>'>
						<td class="countdown">
							<span class="anchor" id="<%= event.date.day %>"></span>
							<%= remaining_time(event.date) %>
						</td>
						<td class="marker">
							<i class='foundicong-location'></i>
						</td>
						<td class="<%= weekend_or_number?(event.date) %>">
							<%= event.date.day %>
						</td>
						<td class="description">
							<div class='description_title'>
								<a class="toggle_trigger <%= first?(index) %>"><%= event.title %>
								</a>
							</div>
              <div class="<%= toggle_now_or_wrap?(index) %>">
                <p>
									<%= raw simple_format(event.content, {}, sanitize: false) %>
								</p>
							</div>
						</td>
					</tr>
				<% end %>

			</table>

	<% else %>
	<% # if no events %>

		<!-- Title -->

		<div class="title">
			<div class="left">
				<p><i>du </i><%= l Date.today, format: :short %></p>
			</div>
			<div class="right">
				<p><i>au </i><%= l current_group.last_date, format: :short %></p>
			</div>
		</div>

		<!-- Table -->

		<table id="timeline">

			<!-- first row -->
			<tr class="marker">
				<% (Date.today..current_group.last_date).each do |date| %>
					<td>
					</td>
				<% end %>
			</tr>

			<!-- second row -->
			<tr class="date">
				<% (Date.today..(Date.today + 15.day)).each do |day| %>
					<td class="<%= weekend?(day) %> <%= today?(day) %> ">
            <%= day.day %>
          </td>
				<% end %>
			</tr>

		</table>



	<% end %>
</div>
<div id="text_<%= comp_page.text.id %>">
	<%= render 'admin/g/texts/show', text: comp_page.text %>
</div>
