<div id="module_<%= comp_page.id %>" class="module_events_last">
	<div class="event">
		<% if event = current_group.upcoming_events.first %>
			<h3><i class='foundicong-location'></i> Evénement: <%= event.title %></h3>
			<p class="date">Le <%= l event.date, format: :long %></p>
			<p><%= raw simple_format(event.content, {}, sanitize: false) %></p>
			<% else %>
			<p>Désolé, pas d'événement prochain annoncé.</p>
		<% end %>
	</div>
</div>
<div id="text_<%= comp_page.text.id %>">
	<%= render 'admin/g/texts/show', text: comp_page.text %>
</div>
