<div class="tools">
<div class="search">
<%= form_tag request.path, method: :get, remote: true do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Rechercher", name: nil %>
  </p>
<% end %>
</div>
<div class="paginate"><%= will_paginate elements %></div>
</div>
<table>
	<thead>
		<tr>
			<% elements.first.class.column_names.each do |name| %>
				<th><%= sortable(name, elements.first.class) %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% if elements.any? %>
			<% elements.each do |element| %>
				<tr class="<%= cycle('odd', 'even') %>" data-url="<%= table.url(element) %>">
					<% table.attributes(element).each do |attribute| %>
						<td><%= truncate((strip_tags attribute.to_s), length: 40) %></td>
					<% end %>
				</tr>
			<% end %>
		<% else %>
			<p>Il n'y a aucun élément à afficher.</p>
		<% end %>
	</tbody>
</table>
<div class="bottom">
 <%= will_paginate elements %>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$(".pagination").on("click", "a", function() {
    $.getScript(this.href);
    return false;
  });
});
</script>
