<%= form_for [:admin, @group] do |f| %>	

	<%= render 'shared/error_messages', object: f.object %>

	<table>
		<tr>
			<td><%= f.label :name %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td><%= f.label :description %></td>
			<td><%= f.text_area :description %></td>
		</tr>
		<tr>
			<td><%= f.label :website %></td>
			<td><%= f.text_field :website %></td>
		</tr>
		<tr>
			<td><%= f.label :street %></td>
			<td><%= f.text_field :street %></td>
		</tr>
		<tr>
			<td><%= f.label :npa %></td>
			<td><%= f.text_field :npa %></td>
		</tr>
		<tr>
			<td><%= f.label :city %></td>
			<td><%= f.text_field :city %></td>
		</tr>
		<tr>
			<td><%= f.label :canton_id %></td>
			<td><%= f.collection_select(:canton_id, Group::Canton.all, :id, :name) %></td>
		</tr>
		<tr>
			<td><%= f.label :latitude %></td>
			<td><%= f.text_field :latitude %></td>
		</tr>
		<tr>
			<td><%= f.label :longitude %></td>
			<td><%= f.text_field :longitude %></td>
		</tr>
		<tr><td><%= f.submit class: 'w8-button l-blue' %></td></tr>
	</table>

<% end %>