<% provide(:title, 'Medias photos galerie') %>

<%= render 'shared/image_banner', image: 'medias/banner.jpg' %>

<h1>Medias</h1>
<h2>Photos</h2>

<div id="medias">

	<% @galleries.each do |gallery| %>
	<div class="banner">
		<%= image_tag image_url gallery.paintings.first.image.url, class: 'img_banner' %>
		<div class="hover_info">
			<h1><%= gallery.name %></h1>
			<p><%= truncate gallery.description, length: 40 %></p>
			<%= link_to 'Voir la gallerie', gallery_path(gallery) %>
		</div>
		<p class="link"><%= link_to 'Voir la gallerie', gallery_path(gallery) %></p>
	</div>
	<% end %>
</div>
