<h1>Activer le site web</h1>

<div class="panel">
	<h2>Url</h2>
<%= form_for @group, url: activate_admin_group_path(@group.id) do |f| %>

	<%= render 'shared/error_messages', object: f.object %>
	
	<p class="infos"><i class='foundicong-location'></i> Commencer par choisir l'url de votre site web. Elle ne peut contenir que des lettres sans accent et des tirets.</p>
	<table>
		<tr>
			<td class="text"><%= f.label :url %></td>
			<td class="field"><%= f.text_field :url, value: "mon-site-web" %></td>
		</tr>
	</table>
	<p style="margin:30px 0 0 0;text-align:center;font-size:16px">neurones.ch/<span class="chosen" style="font-weight:bold">mon-site-web</span></p>
	<div class="modif_button"><%= f.submit "Finaliser", class: 'w8-button l-blue' %></div>
<% end %>
</div>
