<%= form_for [:admin, @user] do |f| %>

	<%= render 'shared/error_messages', object: f.object %>

	<table>
		<tr>
			<td><%= f.label :email %></td>
			<td><%= f.text_field :email %></td>
		</tr>
		<tr>
			<td><%= f.label :name %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td><%= f.label :user_type_id %></td>
			<td><%= f.collection_select(:user_type_id, UserType.all, :id, :name) %></td>
		</tr>
		<tr>
			<td><%= f.label :password %></td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td><%= f.label :password_confirmation %></td>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<%= f.fields_for :parents do |builder| %>
			<tr>
				<td><%= builder.label :parent_id %></td>
				<td><%= builder.collection_select(:parent_id, User.where('user_type_id = ?', UserType.find_by_name('group').id), :id, :name, include_blank: "") %></td>
			</tr>
		<% end %>
		<tr>
			<td><%= f.submit class: 'w8-button l-blue' %></td>
		</tr>
	</table>

<% end %>