<p><%= link_to "Retour", edit_admin_user_path(@user) %></p>

<h2>Changer le mot de passe</h2>

<%= form_for @user, url: password_update_admin_user_path(@user) do |f| %>
	
	<%= render 'shared/error_messages', object: f.object %>
	<table>
		<tr>
			<td><%= f.label :old_password, "Ancien mot de passe" %></td>
			<td><%= f.password_field :old_password %></td>
		</tr>
		<tr>
			<td><%= f.label :new_password, "Nouveau mot de passe" %></td>
			<td><%= f.password_field :new_password %></td>
		</tr>
		<tr>
			<td><%= f.label :new_password_confirmation, "Confirmation" %></td>
			<td><%= f.password_field :new_password_confirmation %></td>
		</tr>
		<tr>
			<td><%= f.submit "Enregistrer" %></td>
		<tr>
	</table>

<% end %>