<h1>Mon profil</h1>

<%= form_for [:admin, current_user] do |f| %>

	<table>
	<%= form_for :password do |p| %>
		
			<tr>
				<td><%= p.label :old_password, "Mot de passe actuel*" %></td>
				<td><%= p.password_field :old_password %></td>
			</tr>

	<% end %>
	
	<%= render 'fields', f: f %>
	</table>
	
<% end %>