<!DOCTYPE html>
<html>
	<head>
	  <title>Neurones - <%= current_group.try(:name) %></title>
	  <%= stylesheet_link_tag    "group", :media => "all" %>
	  <% #group_style_path(current_group, current_group.style), %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <link rel="icon" type="image/png" href="/favicon.png" />
	</head>
	<body>
		<%= render 'layouts/noscript' %>
		<%# flash inside header %>

		<div id="group_container">
			<div class="banner"></div>
			<div class="background"></div>
			<%= render 'layouts/group/header' %>
			<%= yield %>
		</div>

		<%= render 'layouts/group/footer' %>
	</body>
</html>
