<!DOCTYPE html>
<html>
	<head>
	  <title>Neurones - <%= current_group.try(:name) %></title>
	  <%= stylesheet_link_tag "group", (group_style_path(current_group, current_group.style) unless current_group.nil?), :media => "all" %>
		<%= javascript_include_tag "group" %>
		<%= csrf_meta_tags %>
	  <link rel="icon" type="image/png" href="/favicon.png" />
	  <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-38967567-2', 'neurones.ch');
		  ga('send', 'pageview');
		</script>
	</head>
	<body>
		<%= render 'layouts/noscript' %>
		<div id="message">
			<%= render 'layouts/flash', flash: flash  %>
		</div>
		<%= yield(:before_container) %>
		<div id="group_container">
			<div class="banner"></div>
			<div class="background"></div>
			<%= render 'layouts/group/header' %>
			<%= yield %>
		</div>

		<%= render 'layouts/group/footer' %>
	</body>
</html>
