<header>
<nav>
<ul>
<li><%= link_to "Home", root_path %></li>
<% if signed_in_superadmin? %>
<li><%= link_to "Utilisateurs", admin_users_path %></li>
<% end %>
<li><%= link_to "Profil", admin_profil_path %></li>
<li><%= link_to "Pages", admin_pages_path %></li>
<li><%= link_to "Programme", admin_events_path %></li>
<li><%= link_to "Articles", admin_articles_path %></li>
<li><%= link_to "Galeries", admin_galleries_path %></li>
</ul>
</nav>
</header>
