<footer>

	<div>
		<h3>A propos de nous</h3>
		<p>Ce projet à démarrer en janvier 2013, il est en amélioration permanente.</p>
		<p>Vous avez vu un bug? Merci de le reporter à <a href="mailto:nkcr.je@gmail.com">l'administrateur</a>.</p>
		<p>© Neurones 2013 </p>
	</div>
	<div class="connexion">
		<h3>A propos de vous</h3>
		<p>
			<% if signed_in? %>
				<%= render 'layouts/connected' %>
			<% else %>
				<%= render 'layouts/unconnected' %>
			<% end %>
		</p>
	</div>
	<div>
		<h3>Structure du site</h3>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Présentation", presentation_path %></li>
			<li><%= link_to "Blog", blog_path %></li>
			<li><%= link_to "Programme", events_path %></li>
			<li><%= link_to "Medias", galleries_path %></li>
			<ul>
				<li><%= link_to "Présentation", presentation_path %></li>
				<li><%= link_to "contact", contact_path %></li>
			</ul>
		</ul>
	</div>
	<img src="/assets/header/motif_down.png">
</footer>
