<footer>

	<div>
		<h3>About us</h3>
		<p>Project under construction<br>© Neurones 2013 </p>
	</div>
	<div class="connexion">
		<h3>About you</h3>
		<p>
			<% if !current_user.nil? %>
				<p>Connecté en tant que:</p><%= current_user.name %>
			<% else %>
				<%= link_to 'Connexion', login_path %>
			<% end %>
		</p>
	</div>
	<div>
		<h3>Site map</h3>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Présentation", presentation_path %></li>
			<li><%= link_to "Blog", blog_path %></li>
			<li><%= link_to "Programme", events_path %></li>
			<li><%= link_to "Medias", galleries_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
	
</footer>
