<footer>

	<div>
		<h3>A propos de nous</h3>
		<p>Ce projet a démarré il y a quelques années.</p>
		<p>Vous avez vu un bug? Merci de le reporter à <a href="mailto:nkcr.je@gmail.com">l'administrateur</a>.</p>
		<p style="border-bottom: 1px solid #383048;padding:5px 0">© Neurones 2016 <br></p>
		<p>Retouvez le projet sur <a href="https://github.com/khcr/neurones">github</a> <img src="/assets/layout/octocat_gems.png"></p>
		<p>Made with love by <a href="mailto:nkcr.je@gmail.com" title="Contacter le designer par e-mail">Noémien</a> & <a href="mailto:kocher.ke@gmail.com" title="Contacter le designer par e-mail">Keran</a> Kocher</p>
	</div>
	<div class="connexion">
		<h3>A propos de vous</h3>
		<p>
			<% if signed_in? %>
				<%= render 'layouts/connected' %>
			<% else %>
				<%= render 'layouts/unconnected' %>
			<% end %>
		</p>
	</div>
	<div>
		<h3>Structure du site</h3>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Présentation", presentation_path %></li>
			<li><%= link_to "Blog", blog_path %></li>
			<li><%= link_to "Programme", events_path %></li>
			<li><%= link_to "Medias", galleries_path %></li>
			<ul>
				<li><%= link_to "Présentation", presentation_path %></li>
				<li><%= link_to "contact", contact_path %></li>
			</ul>
		</ul>
	</div>
	<img class="motif" src="/assets/header/motif_down.png">
</footer>
