<footer>

	<div>
		<h3>About us</h3>
		<p>Project under construction<br>© Neurones 2013 </p>
	</div>
	<div>
		<h3>About you</h3>
		<p>
			<% if signed_in_user? %>
					<%= link_to @current_user.name, admin_profil_path %> | <%= link_to "Déconnecter", signout_path, method: "delete" %>
			<% else %>
					<%= link_to 'Connexion', login_path %>
			<% end %>
		</p>
	</div>
	<div>
		<h3>Site map</h3>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Présentation", presentation_path %></li>
			<li><%= link_to "Blog", blog_path %></li>
			<li><%= link_to "Programme", events_path %></li>
			<li><%= link_to "Medias", galleries_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
	
</footer>
