<header>
  <%= image_tag "header/motif.png", class: "motif" %>
	<nav>
		<div id="message">
			<%= render 'layouts/flash', flash: flash  %>
		</div>
		<ul>
			<li><%= link_to_active "Home", root_path %></li>
			<li><%= link_to_active "Blog", blog_path %></li>
			<li><%= link_to_active "Evénements", events_path %></li>
			<li><%= link_to_active "Les GDJ's", catalogue_path %></li>
			<li><%= link_to_active "Medias", galleries_path %></li>
			<li class="submenu"><a class="<%= has_active_page?(presentation_path, contact_path) %>">À propos <i class="foundiconge-down-arrow"></i></a>
				<ul>
					<li><%= link_to_active "Présentation", presentation_path %></li>
					<li><%= link_to_active "Contact", contact_path %></li>
				</ul>
			</li>
			<a href="/"><%= image_tag "header/logo.png" %></a>
		</ul>
	</nav>
</header>
